:root {
    --accent: #00d3a8;
    --accent-translucent: rgba(0, 211, 168, 0.4);
    --white: #ffffff;
    --white-translucent: rgba(255, 255, 255, 0.4);
    --shadow: 5px 5px 10px hsla(329, 43%, 10%, 0.7);
    --background: url('../img/background1080.png');
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background) 0 / cover fixed;
}

.overlay {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.overlay.center {
    justify-content: center;
}

.floating-box {
    position: relative;
    background: var(--white);
    width: 30rem;
    height: 10%;
    padding: 30px;
    margin: 30px;
    box-shadow: var(--shadow);
}

.floating-box.bottom {
    margin-top: auto;
}

.floating-box a {
    text-decoration: none;
    color: var(--accent);
}

.nav {
    position: relative;
}

.nav a{
    margin-right: 10px;
}

a .tooltip {
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    background: var(--accent);
    color: var(--white);
    padding: 10px;
    font-size: 15px;
    box-shadow: var(--shadow);
    visibility: hidden;
    z-index: 1;
}

.social a {
    margin-right: 5px;
}

a:hover .tooltip {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    .floating-box {
        text-align: center;
        margin-top: 50%;
        margin-bottom: 50%;
    }

    .floating-box a .tooltip {
        position: relative;
        margin-top: 0;
        margin-left: 0;
        background: none;
        color: inherit;
        padding: 0;
        font-size: inherit;
        box-shadow: none;
        visibility: visible;
        z-index: 0;
    }
}
